# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.DS_Store

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Spatial data files
/data_download/admin_spatial
/data_download/habitat_2005
/data_download/pop_2005/*

# Allow WA pop file
!/data_download/pop_2005/wa_pop_2005.tif

# GBIF data
/gbif_data

# Large data_clean files
/data_clean/tn_pop_model.rds
/data_clean/tn_pop_model_sens.rds
/data_clean/tn_pop_analysis.rds
/data_clean/tn_pop_habitat_model_sens.rds
/data_clean/wide_pathogen.rds
/data_clean/traps_level_2_zoonoses.rds

# Large plot .rds
plots

coauthors_comments
reports/nul
